<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Artista</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cancion of canciones; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{cancion.nombre}}</td>
            <td>{{cancion.genero}}</td>
            <td>{{cancion.artista}}</td>
            <td><button type="button" class="btn btn-danger" (click)="eliminarCancion(cancion.idcanciones)">Eliminar</button></td>
        </tr>
    </tbody>
</table>